
<div class="content-header">
  <h1><b>Plan</b> Your Day</h1>
</div>

<div class="content-container tasks">
  <div class="post-header-container">
    <div class="motivational-quote">
      <p class="title">Today's Motivational Quote</p>
      <p class="quote">"A goal without a plan is just a wish.”</p>
    </div>

    <div class="todays-date">
      <p>Wednesday,<br>Aug 8</p>
    </div>
  </div>

  <h2 class="todays-tasks">Today's Tasks</h2>

  <div class="edit-tasks">
      <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
  </div>

  <p *ngIf="!forecasts">
    <em>Loading...</em>
  </p>

  <div class="task-list">
      <div class="task-list-name">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <h3>Do HomeWork 1</h3>
        <span class="estimated-time">Estimated Time: 5 min</span>
        <span class="priority-level">PRIORITY LEVEL: <i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i> </span>
      </div>
      <div class="task-list-start-button">
          <button class="btn btn-primary" [routerLink]='[ "/current-task"]'>Start Task</button>
      </div>
  </div>

  <div class="task-list">
      <div class="task-list-name">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <h3>Create Price Quotation</h3>
        <span class="estimated-time">Estimated Time: 1hr</span>
        <span class="priority-level">PRIORITY LEVEL: <i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle-o" aria-hidden="true"></i><i class="fa fa-circle-o" aria-hidden="true"></i> </span>
      </div>
      <div class="task-list-start-button">
          <button class="btn btn-primary" [routerLink]='[ "/current-task"]'>Start Task</button>
      </div>
  </div>

  <div class="task-list">
      <div class="task-list-name">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <h3>Send follow up email</h3>
        <span class="estimated-time">Estimated Time: 5 mins</span>
        <span class="priority-level">PRIORITY LEVEL: <i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle-o" aria-hidden="true"></i><i class="fa fa-circle-o" aria-hidden="true"></i><i class="fa fa-circle-o" aria-hidden="true"></i><i class="fa fa-circle-o" aria-hidden="true"></i> </span>
      </div>
      <div class="task-list-start-button">
          <button class="btn btn-primary" [routerLink]='[ "/current-task"]'>Start Task</button>
      </div>
  </div>

  <!--<table class='table' *ngIf="forecasts">
    <thead>
      <tr>
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.dateFormatted }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
      </tr>
    </tbody>
  </table>-->
</div>