<h1>Plan Your Day</h1>
<p>Today's Motivational Quote</p>
<p>"A goal without a plan is just a wish.”</p>
<p>Thursday, July 26</p>

<h2>Today's Tasks</h2>

<p *ngIf="!forecasts">
  <em>Loading...</em>
</p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>